.cart-container {
  max-width: 800px;
}

.cart-item {
  flex-wrap: wrap;
  gap: 10px;
  background-color: #fff;
  border-left: 5px solid #dc3545;
  transition: background-color 0.2s ease-in-out;
}

.cart-item:hover {
  background-color: #f9f9f9;
}

.cart-item-info {
  flex-grow: 1;
  min-width: 200px;
}

.cart-buttons {
  display: flex;
  align-items: center;
}

.total-price-box {
  border: 1px solid #dee2e6;
}

@media (max-width: 576px) {
  .cart-buttons {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .cart-item {
    text-align: center;
    flex-direction: column;
  }

  .cart-item-info {
    text-align: center;
  }

  .total-price-box {
    text-align: center;
  }
}
