.product-modal .modal-content {
  border-radius: 20px;
  overflow: hidden;
}

.option-img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 10px;
}

.summary-section {
  background-color: #f9f9f9;
  width: 100%;
  max-width: 350px;
}
